<ion-view title="{{title}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" style="background-color:rgb(235,236,244);" >
        <div style="float:left;width:100%;padding:1%;border:1px dashed black;margin-top:3%;">
            <div class="row">
                <div class="col col-50"><span style="color:blue;">Last Inventory : </span></div>
                <div class="col col-50">{{reported_at}}</div>
            </div>
            <div class="row">
                <div class="col col-20">Inv</div>
                <div class="col col-30">Pig Deaths</div>
                <div class="col col-30">Sick Pigs</div>
                <div class="col col-20">Initials</div>
                
            </div>
            <div class="row">
                <div class="col col-20">{{total_inventory}}</div>
                <div class="col col-30">{{pig_death}}</div>
                <div class="col col-30">{{pig_sick}}</div>
                <div class="col col-20">{{Intials}}</div>
                
            </div>
        </div>
        <label class="item item-input" style="background-color:rgb(235,236,244);border:none;width:100%;">
            
           <div class="input-label" style="font-weight:normal;margin-left:2%;font-size:16px;"> Inventory Date :</div>
            
            <input type="date" ng-model="date.text" id="inventoryDate" />
                </label>
        <label class="item item-input" style="background-color:rgb(235,236,244);border:none;margin-left:3%;">
            New Shipment ?
            
        </label>
        <div class="row" style="margin-top:5%;">
            
            <div class="col col-50">
                <!--<a   ng-click="goBack()" style="border-radius:5px;padding:9% 35%;margin-top:10%;background-color:white;color:black;width:100%;">Back</a>-->
                <a href="#/app/inventory2/{{barn_id}}"  style="border-radius:5px;padding:9% 41%;margin-top:10%;background-color:white;color:black;width:100%;text-decoration:none;border: 1px solid gray">Yes</a>
            </div>
            <div class="col col-50">
                <a  style="border-radius:5px;padding:9% 41%;margin-top:10%;background-color:white;color:black;width:100%;text-decoration:none;border: 1px solid gray" ng-click="saveDate()">
                    No
                </a>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col">
                <a class="button button-outline button-light" href="#/app/barnHome/{{barn_id}}" style="background-color:white;color:black;width:80%;margin-left:10%;border:1px solid black;"> Cancel</a>
            </div>
        </div>
        
    </ion-content>
    
</ion-view>