<ion-view title="{{farm.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" style="background-color:rgb(240,241,248);" >
        <div style="float:left;width:100%;margin-top:5%">
            <span style="float:left;width:80%;padding-left:5%;padding-top:3%;">Pig Treated :</span>
            <input type="text" style="float:left;width:16%;margin-top-top:10%;padding-right:4%;border:1px solid black;" ng-model="pigntreated.text" ng-change="pigtreatedonchange()" valid-number></div>
        <div id="treatPigDiv" class="list" >
            <div class="item" ng-repeat="pigTreat in pigtreatDetails">
                <div class="input-label">Pig {{pigTreat.count}}</div>
                <input type="text" ng-model="pigTreat.medicine_given" id="medicine{{pigTreat.count}}" style="border:1px solid #c3c3c3;margin-top:2%;"/>
                <input type="text" ng-model="pigTreat.dosage" id="dosage{{pigTreat.count}}" style="border:1px solid #c3c3c3;margin-top:2%;"/>
                <input type="text" ng-model="pigTreat.how_administered" id="route{{pigTreat.count}}" style="border:1px solid #c3c3c3;margin-top:2%;"/>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
            <a class="button button-outline button-light" style="border-radius:5px;margin-top:10%;background-color:white;color:black;width:100%;border:1px solid black;" href="#/app/barnHome/{{barn_id}}" >Cancel</a>
            </div>
            <div class="col col-50">
            <a class="button button-outline button-light" style="border-radius:5px;margin-top:10%;background-color:white;color:black;width:100%;border:1px solid black;" ng-click="savePigtreatments()" >Review</a>
            </div>
        </div>
        
        
     
        <!--<div class="bar bar-footer" style="background-color:rgb(240,241,248);border:none;">
         <a class="button button-outline button-light" href="#/barnHome/{{barn_id}}" style="background-color:white;color:black;width:80%;margin-left:10%;"> Cancel</button>
         </div>-->


    </ion-content>
    
</ion-view>