<ion-side-menus class ="login">
    
    <ion-side-menu-content>
        <ion-content style="background-color:#cacde2;">
            <div class="list list-inset login">
                <div style="text-align:center; margin-top:10%;">
                    <img src="farm_assist_logo.png" style="margin-top:10%;">
                </div>
                <br/>
                    <input ng-model='name.text' name="userName" type="text" placeholder="User Name"  style="border-radius:10px;background-color:#D5DBED;color:black;">
                <br/>
                    <input ng-model='password.text' name="password" type="password" placeholder="Password" style="border-radius:10px;background-color:rgb(213,219,237);color:black;">
                <br/>
                <button ng-click="submitbutton()" class="button button-block" style="background-color:#91A5D3;color:white;border-radius:10px;">
                    Log in
                </button>
            </div>
        </ion-content>
    </ion-side-menu-content>
</ion-side-menus>
