.errorinput {
color: #850000;
background: rgba(254, 186, 186, 0.5);
border: 1px solid #850000;
}
.popup-buttons .button
{
float:none;
margin:0 auto;
width:20%;

}
input 
{
	border:1px solid black;
	border-radius:5px;
}
/*a
{
	border:1px solid gray;
}*/